nav{
    background-color: #040F0F;
}

h1{
    color: #16697A;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    border-style: solid;
    background-color: #EDE7E3;
    text-align: center;
}

div{
    width: 280px;
    border-style: solid; 
    border-radius: 5px;
    padding: 15px;
    margin: 12px;
    color: white;
    border-color: #3D3522;
    background-color: #ffa72b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #16697A;
}

footer{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 90px;
}

form{
    position: relative; left: 700px; top: 70px;
    border-style: solid;
    width: 380px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #4a442d80;
    color: #CAF7E2;
}

#perfil1{
    position: relative; left: 0px; top: 100px;
}

#perfil2{
    position: relative; left: 500px; bottom: 100px;
}

#perfil3{
    position: relative; left: 1000px; bottom: 300px;
}

#personas{
    width: 280px;
    margin: 0%;
}

#perfil3_avatar{
    position: relative; left: 1000px; bottom: 500px;
    margin: 0%;
}

#perfil2_avatar{
    position: relative; left: 500px; bottom: 160px;
    margin: 0%;
}

#perfil1_avatar{
    position: relative; left: 0px; top: 100px;
    margin: 0%;
}

#contactanos{
    width: 500px;
    position: relative; bottom: 190px; left: 70px;
}

#cont{
    position: relative; left: 700px; bottom: 95px;
}

#redes{
    position: relative; left: 200px;
}

#icono{
    width: 35px;
    position: relative; bottom: 10px; left: 195px;
}

#principal{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: 30px;
    padding-left: 110px;
    padding-right: 110px;
    color: white;
    text-decoration: none;
}

#avatar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: 30px;
    padding-left: 110px;
    padding-right: 110px;
    color: white;
    text-decoration: none;
}

#contacto{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin: 30px;
    padding-left: 110px;
    padding-right: 110px;
    color: white;
    text-decoration: none;
}